.our-mission {
  height: 574px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.our-mission .text {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-mission.style-2 .text {
  width: 48%;
  align-items: flex-end;
  text-align: left;
}

.our-mission.style-2 .text .img-text {
  width: 100%;
  max-width: 413px;
}

.our-mission .text h1 {
  font-weight: 500;
}
.our-mission .text p {
  width: 100%;
  max-width: 413px;
}
.our-mission .text button {
  color: white;
  background-color: #174777;
  width: 114px;
  height: 46px;
  border: none;
  border-radius: 3px;
  transition: transform 0.3s ease;
  font-size: 18px;
  margin-top: 46px;
}

.our-mission .text button:hover {
  transform: scale(1.2);
}
.our-mission .img {
  display: block;
  width: 48%;
}
.our-mission .img img {
  height: 400px;
  width: 95%;
  margin-left: auto;
  float: right;
}

.our-mission.style-2 .img img {
  float: left;
  width: 95%;
}

.our-mission .text a {
  color: #1a60a5;
  width: max-content;
}

.our-mission .img-text img {
  display: inline;
  margin-right: 11px;
  margin-bottom: 10px;
}

.our-mission .img-text h1 {
  display: inline;

  width: max-content;
}

.our-mission .img-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}

/* Styles for tablets */
@media (min-width: 577px) and (max-width: 991px) {
  .our-mission .img img {
    height: 415px;
    width: 95%;
    max-width: 348px;
  }
  .our-mission.style-2 .text {
    width: 45%;

    align-items: flex-end;
    text-align: left;
    padding-left: 20px;
  }
}

/* Styles for phones */
@media (max-width: 576px) {
  .our-mission {
    padding: 40px 0;
    height: max-content;
    flex-direction: column-reverse; /* default layout */
    text-align: center;
    justify-content: center;
  }

  .our-mission.style-2 {
    flex-direction: column; /* this ensures image is on top */
  }

  .our-mission .text {
    width: 100%;
    text-align: left;
  }

  .our-mission.style-2 .text {
    width: 100%;
    text-align: left;
  }
  .our-mission .img {
    width: 100%;
  }
  .our-mission .img img {
    height: 237px;
    width: 100%;
    padding-bottom: 29px;
    float: none;
  }

  .our-mission .img-text img {
    margin-bottom: 24px;
  }

  .our-mission h1 {
    padding-bottom: 15px;
  }
}
