.our-mission {
  height: 574px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.our-mission div {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-mission div h1 {
  margin-bottom: 12px;
  font-weight: 500;
}
.our-mission div p {
  width: 100%;
  max-width: 413px;
}
.our-mission div button {
  color: white;
  background-color: #174777;
  width: 114px;
  height: 46px;
  border: none;
  border-radius: 3px;
  transition: transform 0.3s ease;
  font-size: 18px;
  margin-top: 46px;
}

.our-mission div button:hover {
  transform: scale(1.2);
}
.our-mission .img {
  display: block;
}
.our-mission .img img {
  height: 400px;
  width: 95%;
  margin-left: auto;
  float: right;
}

.our-mission div a {
  color: #1a60a5;
}

/* Styles for tablets */
@media (min-width: 577px) and (max-width: 991px) {
  .our-mission .img img {
    height: 415px;
    width: 95%;
    max-width: 348px;
  }
}

/* Styles for phones */
@media (max-width: 576px) {
  .our-mission {
    padding: 40px 0;
    height: max-content;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
  }

  .our-mission div {
    width: 100%;
    text-align: left;
  }

  .our-mission .img img {
    height: 237px;
    width: 100%;
    padding-bottom: 29px;
    float: center;
  }

  .our-mission h1 {
    padding-bottom: 15px;
  }
}
