* {
  margin: 0;
  padding: 0;
  font-family: "Newsreader", serif;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}
.container-2 {
  width: 80%;
  max-width: 1240px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-size: 45px;
}

p {
  font-size: 18px;
  font-weight: 400;
}

/* Styles for tablets */
@media (min-width: 577px) and (max-width: 991px) {
}

/* Styles for phones */
@media (max-width: 576px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 42px;
  }

  p {
    font-size: 17px;
  }
}
