.footer {
  height: max-content;
  background-color: #e7ddd7;
  min-height: 159px;
  padding: 25px 0;
  display: flex;
  align-items: center;
}
.footer .holder {
  width: 100%;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer .container img {
  width: 170px;
  height: 43px;
  transition: transform 0.3s ease;
}

.footer .container img:hover {
  transform: scale(1.2);
}

.footer .container .content span {
  display: block;
  text-align: end;
  font-size: 17px;
}

.footer .container .content span a {
  color: #1a60a5;
  text-decoration: none;
}

.footer .container .content span a:hover {
  text-decoration: underline;
}

.footer .container .content span ul {
  list-style: none;
  margin: 3px 0;
}
.footer .container .content span ul li {
  display: inline;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 2px solid black;
}

.footer .container .content span ul li:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.footer .container .content span ul li a {
  color: #1a60a5;
  text-decoration: none;
}

.footer .container .content span ul li a:hover {
  text-decoration: underline;
}
.footer-bottom {
  border-top: 1px solid rgb(133, 133, 133);
  margin-top: 15px;
  padding-top: 15px;
}
.footer-bottom p {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-bottom a {
  color: rgb(41, 41, 41);
  font-size: 1rem;
  text-decoration: none;
}
.footer-bottom a:hover {
  text-decoration: underline;
}

/* Styles for tablets */
@media (min-width: 577px) and (max-width: 991px) {
  .footer {
    height: max-content;
  }

  .footer .container img {
    width: 150px;
    height: 35px;
  }

  .footer .container .content span {
    font-size: 15px;
  }

  .footer-bottom p {
    font-size: 15px;
  }

  .footer-bottom a {
    font-size: 15px;
  }
}

/* Styles for phones */
@media (max-width: 576px) {
  .footer {
    height: max-content;
  }

  .footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer .container img {
    width: 150px;
    height: 35px;
    margin-bottom: 37px;
  }

  .footer .container .content span ul li {
    margin-right: 7px;
    padding-right: 7px;
  }

  .footer .container .content span {
    font-size: 13px;
    text-align: left;
  }

  .footer-bottom p {
    font-size: 13px;
    display: block;
  }
  .footer-bottom span {
    display: block;
  }
  .footer-bottom a {
    font-size: 13px;
  }
}
